<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link th:href="@{/css/home.css}" rel="styleSheet">
</head>
<body>
    <div id="main">
        <div id="choice_container">
            <!-- 食べ物の分類ボタン作成 -->
            <div id="category_container" class="change_buttons">
                <th:block th:each="foodType : ${typeList}">
                <input th:id="|type${foodType.getFoodTypeId()}|" name="hoge" type="radio" th:value="${foodType.getFoodTypeId()}" th:onclick="|radioClick('__${foodType.getFoodTypeId()}__')|" />
                <label th:for="|type${foodType.getFoodTypeId()}|"  th:text="${foodType.getName()}"}></label>
            </div>
            <!-- 食べ物ボタン作成 -->
            <div id="food_items_container">
                <th:block th:each="foodMainDto, stat : ${foodMainDtoList}">
                <!-- 分類ボタンを押した際にviewtype(数字)で切り替え -->
                <div th:id="|viewtype${stat.count}|" class="disp_switch">
                    <!-- flexを使用するためのクラス -->
                    <div class="food_items">
                    <th:block th:each="foodMain : ${foodMainDto.getList()}">
                        <!-- item(数字)のidを設定しどれが押されたかをscript側で判定 -->
                        <div th:id="|item${foodMain.getFoodMainId()}|" class="item" th:onclick="|itemClick(event, '${foodMain.getFoodMainId()}')|">
                            <img th:src="@{/images/{image} (image=${foodMain.getImage()})}" th:alt="${foodMain.getName()}">
                            <p th:text="${foodMain.getName()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="selected_container">
            <h2>選択した食材</h2>
            <br>
            <div id="selected_foods">
                
            </div>
        </div>
    <!--
        <div id="flex_container" class="change_buttons">
            <th:block th:each="foodType : ${typeList}">
            <button type="submit" th:text="${foodType.getName()}"></button>
        </div>
        <div id="flex_container" class="food_items">
            <th:block th:each="foodMain : ${mainList}">
            <div class="item">
                <img th:src="@{/images/{image} (image=${foodMain.getImage()})}" th:alt="${foodMain.getName()}">
                <p th:text="${foodMain.getName()}"></p>
            </div>
        </div>
    -->
    </div>
    <div id="graph_container">
        <div id="option_container">
            <label class="switch-light switch-candy gender" onchange="toggleGender()">
                <input type="checkbox">
                    <strong class="column">性別</strong>
                    <span>
                        <span>男</span>
                        <span>女</span>
                        <a></a>
                    </span>
            </label>
            <label><input type="radio" name="age" onclick="setAge(1)">～１歳</label>
            <label><input type="radio" name="age" onclick="setAge(2)">～２歳</label>
            <label><input type="radio" name="age" onclick="setAge(5)">～５歳</label>
            <label><input type="radio" name="age" onclick="setAge(7)">～７歳</label>
            <label><input type="radio" name="age" onclick="setAge(9)">～９歳</label>
            <label><input type="radio" name="age" onclick="setAge(11)">～１１歳</label>
            <label><input type="radio" name="age" onclick="setAge(14)">～１４歳</label>
            <label><input type="radio" name="age" onclick="setAge(17)">～１７歳</label>
            <label><input type="radio" name="age" onclick="setAge(29)" checked>～２９歳</label>
            <label><input type="radio" name="age" onclick="setAge(49)">～４９歳</label>
            <label><input type="radio" name="age" onclick="setAge(64)">～６４歳</label>
            <label><input type="radio" name="age" onclick="setAge(74)">～７４歳</label>
            <label><input type="radio" name="age" onclick="setAge(120)">～１２０歳</label>
        </div>
        <canvas id="graph"></canvas>
    </div>
    <table border="1">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>image</th>
      </tr>
      <th:block th:each="foodMain : ${mainList}">
        <tr>
          <td><p th:text="${foodMain.getFoodMainId()}"></p></td>
          <td><p th:text="${foodMain.getName()}"></p></td>
          <td><p th:text="${foodMain.getImage()}"></p></td>
          <td><img th:src="@{/images/{image} (image=${foodMain.getImage()})}" th:alt="${foodMain.getName()}" width="50px" height="50px"></td>
        </tr>
      </th:block>
    </table>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/css-toggle-switch@4.1.0/dist/toggle-switch.min.css" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript">
        var myChart = null;
        var gender = 1;
        var age = 29;
        var selectFoodId = 1005;
        var selectFoodName = "おおむぎ　七分つき押麦";
        var selectFoodMain = [];
        // カテゴリボタン初期設定
        window.onload = function() {
            document.getElementById('type1').checked = true;
            
            for (let i = 2; i <= 18; i++) {
                let view = document.getElementById('viewtype' + i);
                view.style.display = 'none';
            }
            // デフォルトグラフ描画
            createGraph(window.selectFoodId, window.selectFoodName);
        }

        // カテゴリボタンクリック
        var radioClick = function(index) {
            for (let i = 1; i <= 18; i++) {
                let view = document.getElementById('viewtype' + i);
                view.style.display = 'none';
            }
            let view = document.getElementById('viewtype' + index);
            view.style.display = 'block';
        }

        // 食材クリック
        var itemClick = async (event, mainId) => {
            console.log("マウスＸ" + event.screenX);
            console.log("マウスＹ" + event.screenY);
            await fetch("http://localhost:8080/food-main?mainId=" + mainId).then(function(res) {
                return res.json();
            }).then(function(json) {
                // 既に表示している場合スルー
                if(document.getElementById("item" + mainId).classList.contains("foods")) return;
                var subFood = Object.values(json)[0];
                
                var ul = document.createElement("ul");
                ul.id = "foods";
                ul.style.position = 'absolute';
                ul.style.top = event.screenY - document.getElementById("category_container").getBoundingClientRect().height + "px";
                console.log(document.getElementById("category_container").clientHeight);
                ul.style.left = event.screenX + "px";
                ul.style.zIndex = 6;
                for (let i = 0; i < subFood.length; i++) {
                    // ドロップダウンリスト作成
                    var button = document.createElement("a");
                    button.appendChild(document.createTextNode(subFood[i].name));
                    button.setAttribute("target", "_blanc" );
                    button.style.display = "block";
                    // 引数あり関数をonclickで呼び出す場合アロー関数を使用
                    button.onclick = (e) => {
                        console.log("selectFoodMain");
                        window.selectFoodMain.push(subFood[i]);
                        // 選択した食べ物を選択した食材へ移動
                        createSelectedFood();
                        // グラフ作成
                        createGraph(subFood[i].foodId, subFood[i].name);
                        // 親要素のonclickに影響させない
                        e.stopPropagation()
                        // ドロップダウンリスト削除
                        document.getElementById("foods").remove();
                    }
                    var li = document.createElement("li");
                    li.appendChild(button);
                    ul.appendChild(li);
                }
                document.getElementById("item" + mainId).appendChild(ul);
            });
        }
        
        function createSelectedFood() {
            console.log("createSelectedFood");
            console.log(window.selectFoodMain);
            
        }
        
        async function createGraph(id, name) {
            window.selectFoodId = id;
            window.selectFoodName = name;
            console.log(window.selectFoodId);
            console.log(window.selectFoodName);
            // ドロップダウンリストクリック時のイベント
            document.getElementById("selected_container");
            const food = await fetch("http://localhost:8080/food?foodId=" + window.selectFoodId).then(function(res) {
                // 食材100gあたりの栄養素を取得
                return res.json();
            });
            const limit = await fetch("http://localhost:8080/limit?gender=" + window.gender + "&age=" + window.age).then(function(res) {
                // １日に必要な栄養素の目安を取得
                return res.json();
            });
            var label = await fetch("http://localhost:8080/label").then(function(res) {
                // グラフ表示用栄養素のカラム・ラベルを取得
                return res.json();
            });
            label = Object.values(label)[0];
            const label_text = label.map((obj) => obj.nameJP);
            const colmun = label.map((obj) => obj.name);
            var nutrition = [];
            // 食材100g / 1日の摂取量 の割合を算出しlabelと同じ順番で格納 小数第2位四捨五入
            colmun.forEach((element) => nutrition.push((food[element] / limit[element] * 100).toFixed(1)));
            // ゼロ除算考慮
            nutrition = nutrition.map((element) => {
                if(isFinite(element)) {
                    return element;
                };
                return 0.0;
            });
            console.log(food);
            console.log(limit);
            drawGraph(label_text, nutrition, window.selectFoodName);
        }
        
        function drawGraph(label, nutrition, name) {
            // 前回のグラフを削除(グローバル変数)
            if(window.myChart) {
                window.myChart.destroy();
            }
            var ctx = document.getElementById("graph");
            window.myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: label,
                    datasets: [
                        {
                            label: '摂取量',
                            data: nutrition,
                            backgroundColor: "rgba(39,219,91,0.5)"
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: name + ' 100g / １日の摂取目安量'
                    },
                    scales: {
                        xAxes: [{
                            // Ｘ軸ラベルを全部表示させるため角度調整
                            ticks: {
                                maxRotation: 90,
                                minRotation: 90,
                                // ラベル名が長くなる場合改行
                                callback: function(val){
                                    if(val.length > 5){
                                        return [val.substr(0, 5), val.substr(5)]
                                    }else{
                                        return val;
                                    }
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMax: 120,
                                suggestedMin: 0,
                                stepSize: 10,
                                callback: function(value, index, values){
                                    return  value +  '%'
                                }
                            }
                        }]
                    },
                    annotation: {
                        drawTime: 'afterDatasetsDraw',
                        annotations: [
                            {
                                id: 'hline',
                                type: 'line',
                                mode: 'horizontal',
                                scaleID: 'y-axis-0',
                                value: 100,
                                borderColor: 'black',
                                borderWidth: 2,
                                label: {
                                    backgroundColor: "red",
                                    content: "１日の摂取目安量",
                                    enabled: true
                                },
                            },
                        ]
                    },
                    maintainAspectRatio: false // 固定アスペクト比解除
                }
            });
        }
        
        var setAge = function(age) {
            window.age = age;
            // グラフ更新
            createGraph(window.selectFoodId, window.selectFoodName);
        }
        var toggleGender = function() {
            // 1か2をトグルで設定
            window.gender = window.gender % 2 + 1;
            console.log(window.gender);
            // グラフ更新
            createGraph(window.selectFoodId, window.selectFoodName);
            
        }
        document.addEventListener("click", (e) => {
            // ドロップダウンリストが生成されていない場合
            if(null == document.getElementById("foods")) {
                return;
            }
            // ドロップダウンリスト表示中にクリックした場合消す 判定は動的DOMのonclick側で
            document.getElementById("foods").remove();
        })
        
        var choices;
        
        var hover = async function(index) {
            return;
            console.log(index);
            //let item = document.getElementById('item' + index);
            await fetch("http://localhost:8080/food-main?index=" + index).then(function(res) {
                return res.json();
            }).then(function(json) {
              console.log(json);
            });
        }
        
    </script>
</body>
</html>