<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link th:href="@{/css/home.css}" rel="styleSheet">
</head>
<body>
    <div id="main">
        <div id="choice_container">
            <!-- 食べ物の分類ボタン作成 -->
            <div id="category_container" class="change_buttons">
                <th:block th:each="foodType : ${typeList}">
                <input th:id="|type${foodType.getFoodTypeId()}|" name="hoge" type="radio" th:value="${foodType.getFoodTypeId()}" th:onclick="|radioClick('__${foodType.getFoodTypeId()}__')|" />
                <label th:for="|type${foodType.getFoodTypeId()}|"  th:text="${foodType.getName()}"}></label>
            </div>
            <!-- 食べ物ボタン作成 -->
            <div id="food_items_container">
                <th:block th:each="foodMainDto, stat : ${foodMainDtoList}">
                <!-- 分類ボタンを押した際にviewtype(数字)で切り替え -->
                <div th:id="|viewtype${stat.count}|" class="disp_switch">
                    <!-- flexを使用するためのクラス -->
                    <div class="food_items">
                    <th:block th:each="foodMain : ${foodMainDto.getList()}">
                        <!-- item(数字)のidを設定しどれが押されたかをscript側で判定 -->
                        <div th:id="|item${foodMain.getFoodMainId()}|" class="item" th:onclick="|itemClick(event, '${foodMain.getFoodMainId()}')|">
                            <img th:src="@{/images/{image} (image=${foodMain.getImage()})}" th:alt="${foodMain.getName()}">
                            <p th:text="${foodMain.getName()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="selected_container">
            <div class="selected_header">
                <h2>選択した食材</h2>
                <button onclick="selectedFoodsButton()">選択した食材でグラフ描画</button>
            </div>
            <div id="selected_foods">
                
            </div>
        </div>
    </div>
    <div id="graph_container">
        <div id="option_container">
            <label class="switch-light switch-candy gender" onchange="toggleGender()">
                <input type="checkbox">
                    <strong class="geder_column">性別</strong>
                    <span>
                        <span>男</span>
                        <span>女</span>
                        <a></a>
                    </span>
            </label>
            <label><input type="radio" name="age" onclick="setAge(1)">～１歳</label>
            <label><input type="radio" name="age" onclick="setAge(2)">～２歳</label>
            <label><input type="radio" name="age" onclick="setAge(5)">～５歳</label>
            <label><input type="radio" name="age" onclick="setAge(7)">～７歳</label>
            <label><input type="radio" name="age" onclick="setAge(9)">～９歳</label>
            <label><input type="radio" name="age" onclick="setAge(11)">～１１歳</label>
            <label><input type="radio" name="age" onclick="setAge(14)">～１４歳</label>
            <label><input type="radio" name="age" onclick="setAge(17)">～１７歳</label>
            <label><input type="radio" name="age" onclick="setAge(29)" checked>～２９歳</label>
            <label><input type="radio" name="age" onclick="setAge(49)">～４９歳</label>
            <label><input type="radio" name="age" onclick="setAge(64)">～６４歳</label>
            <label><input type="radio" name="age" onclick="setAge(74)">～７４歳</label>
            <label><input type="radio" name="age" onclick="setAge(120)">～１２０歳</label>
        </div>
        <canvas id="graph"></canvas>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/css-toggle-switch@4.1.0/dist/toggle-switch.min.css" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript">
        const SELECTED_FOODS_ID = 999;
        const SELECTED_FOODS_NAME = "選択した食べ物の合計";
        var myChart = null;
        var gender = 1;
        var age = 29;
        var selectFoodId = 0;
        var selectFoodName = null;
        var selectFood = [];
        // カテゴリボタン初期設定
        window.onload = function() {
            document.getElementById('type1').checked = true;
            
            for (let i = 2; i <= 18; i++) {
                let view = document.getElementById('viewtype' + i);
                view.style.display = 'none';
            }
            // デフォルトグラフ描画
            //createGraph(window.selectFoodId, window.selectFoodName);
        }

        // カテゴリボタンクリック
        var radioClick = function(index) {
            for (let i = 1; i <= 18; i++) {
                let view = document.getElementById('viewtype' + i);
                view.style.display = 'none';
            }
            let view = document.getElementById('viewtype' + index);
            view.style.display = 'block';
        }

        // 食材クリック
        var itemClick = async (event, mainId) => {
            console.log("マウスＸ" + event.screenX);
            console.log("マウスＹ" + event.screenY);
            await fetch("http://localhost:8080/food?mainId=" + mainId).then(function(res) {
                return res.json();
            }).then(function(json) {
                // 既に表示している場合スルー
                if(document.getElementById("item" + mainId).classList.contains("foods")) return;
                var subFood = Object.values(json)[0];
                
                var ul = document.createElement("ul");
                ul.id = "foods";
                ul.style.position = 'absolute';
                ul.style.top = event.screenY - document.getElementById("category_container").getBoundingClientRect().height + "px";
                console.log(document.getElementById("category_container").clientHeight);
                ul.style.left = event.screenX + "px";
                ul.style.zIndex = 6;
                for (let i = 0; i < subFood.length; i++) {
                    // ドロップダウンリスト作成
                    var button = document.createElement("a");
                    button.appendChild(document.createTextNode(subFood[i].name));
                    button.setAttribute("target", "_blanc" );
                    button.style.display = "block";
                    // 引数あり関数をonclickで呼び出す場合アロー関数を使用
                    button.onclick = (e) => {
                        // 選択した食べ物を選択した食材へ移動
                        createSelectedFood(subFood[i]);
                        // グラフ作成
                        createGraph(subFood[i].foodId, subFood[i].name);
                        // 親要素のonclickに影響させない
                        e.stopPropagation()
                        // ドロップダウンリスト削除
                        document.getElementById("foods").remove();
                    }
                    var li = document.createElement("li");
                    li.appendChild(button);
                    ul.appendChild(li);
                }
                document.getElementById("item" + mainId).appendChild(ul);
            });
        }
        
        async function createSelectedFood(food) {
            const food_ids = window.selectFood.map((obj) => obj.id);
            console.log(food_ids);
            if(food_ids.includes(food.foodId)) {
                // 重複する場合追加しない
                return;
            }
            const food_view = await fetch("http://localhost:8080/food-view?foodId=" + food.foodId).then(function(res) {
                // 食材100gあたりの栄養素を取得
                return res.json();
            });
            console.log("selectFood");
            var select_food_index = window.selectFood.push(food_view);
            console.log(select_food_index);
            console.log(window.selectFood);
            console.log("createSelectedFood");
            var el = document.getElementById("selected_foods");
            var div_el = document.createElement("div");
            var img_el = document.createElement("img");
            var div_param_el = document.createElement("div");
            var p_el = document.createElement("p");
            var slider_div_el = document.createElement("div");
            var input_el = document.createElement("input");
            var span_min_el = document.createElement("span");
            var span_max_el = document.createElement("span");
            var input_delete_el = document.createElement("button");
            div_el.className = "select_item";
            div_param_el.className = "select_item_param";
            const foodMain = await fetch("http://localhost:8080/food-main?foodMainId=" + food.foodMainId).then(function(res) {
                // 食材100gあたりの栄養素を取得
                return res.json();
            });
            console.log(foodMain);
            img_el.src = "images/" + foodMain.image;
            const MAX_LENGTH = 15;
            var food_name = food.name;
            if(food_name.length > MAX_LENGTH) {
                food_name = food_name.substr(0, MAX_LENGTH) + '...';
            }
            p_el.textContent  = food_name + food_view.amount + "g";
            input_el.type = "range";
            input_el.value = food_view.amount;
            input_el.min = "1";
            span_min_el.innerText = input_el.min + "g";
            input_el.max = "1000";
            span_max_el.innerText = input_el.max + "g";
            input_el.step = "1";
            input_el.style.width = 300 + "px";
            input_el.style.height = 30 + "px";
            input_el.onchange = (e) => {
                window.selectFood.forEach((item, index) => {
                    if(item.id === food.foodId) {
                        console.log("スライダーで量調整");
                        console.log(item);
                        p_el.textContent = food_name + e.target.value + "g";
                        // 変更前と変更後の量から栄養量を変更する
                        item = Object.keys(item).reduce((acc, value) => {
                            if(value == "id" || value == "amount") {
                                console.log(value);
                                // 対象外
                                acc[value] = item[value];
                                return acc;
                            }
                            acc[value] = item[value] * e.target.value / item["amount"];
                            return acc;
                        }, {});
                        item.amount = parseInt(e.target.value);
                        window.selectFood[index] = item;
                        console.log(item);
                    }
                });
            }
            input_delete_el.innerHTML = "削除";
            input_delete_el.style.backgroundColor = "red";
            input_delete_el.onclick = () => {
                // 削除ボタンをクリックした場合選択した食べ物のDOMとデータを削除
                div_el.remove();
                window.selectFood.forEach((item, index) => {
                    if(item.id === food.foodId) {
                        window.selectFood.splice(index, 1);
                    }
                });
                console.log(select_food_index);
                console.log(window.selectFood);
            }
            div_el.appendChild(img_el);
            div_param_el.appendChild(p_el);
            slider_div_el.appendChild(span_min_el);
            slider_div_el.appendChild(input_el);
            slider_div_el.appendChild(span_max_el);
            div_param_el.appendChild(slider_div_el);
            div_el.appendChild(div_param_el);
            div_el.appendChild(input_delete_el);
            el.appendChild(div_el);
            
        }
        
        async function createGraph(id, name) {
            window.selectFoodId = id;
            window.selectFoodName = name;
            console.log(window.selectFoodId);
            console.log(window.selectFoodName);
            if(window.selectFoodId == 0) {
                // 食材を選択していない場合はグラフを描画しない
                return;
            }
            if(window.selectFoodId == SELECTED_FOODS_ID) {
                // 選択した食材でグラフ描画ボタンをクリック
                // オブジェクト同士を加算
                var food = [];
                window.selectFood.forEach((item, index) => {
                    food = Object.keys(item).reduce((acc, value) => {
                        // １週目はオブジェクトでないためケア
                        const buf = food[value] === undefined ? 0 : food[value];
                        acc[value] = buf + item[value];
                        return acc;
                    }, {})
                });
                console.log("オブジェクト同士の加算");
                console.log(food);
                
            } else {
                // ドロップダウンリストクリック時のイベント
                var food = await fetch("http://localhost:8080/food-view?foodId=" + window.selectFoodId).then(function(res) {
                    // 食材100gあたりの栄養素を取得
                    return res.json();
                });
            }
            const limit = await fetch("http://localhost:8080/limit?gender=" + window.gender + "&age=" + window.age).then(function(res) {
                // １日に必要な栄養素の目安を取得
                return res.json();
            });
            var label = await fetch("http://localhost:8080/label").then(function(res) {
                // グラフ表示用栄養素のカラム・ラベルを取得
                return res.json();
            });
            label = Object.values(label)[0];
            const label_text = label.map((obj) => obj.nameJP);
            const colmun = label.map((obj) => obj.name);
            var nutrition = [];
            // 食材100g / 1日の摂取量 の割合を算出しlabelと同じ順番で格納 小数第2位四捨五入
            // columnでメンバ変数名を指定し加算してオブジェクトに詰める
            colmun.forEach((element) => nutrition.push((food[element] / limit[element] * 100).toFixed(1)));
            // ゼロ除算考慮
            nutrition = nutrition.map((element) => {
                if(isFinite(element)) {
                    return element;
                };
                return 0.0;
            });
            console.log(food);
            console.log(limit);
            drawGraph(label_text, nutrition, window.selectFoodName);
        }
        
        function drawGraph(label, nutrition, name) {
            // 前回のグラフを削除(グローバル変数)
            if(window.myChart) {
                window.myChart.destroy();
            }
            var ctx = document.getElementById("graph");
            window.myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: label,
                    datasets: [
                        {
                            label: '摂取量',
                            data: nutrition,
                            backgroundColor: "rgba(39,219,91,0.5)"
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: name + ' 100g / １日の摂取目安量'
                    },
                    scales: {
                        xAxes: [{
                            // Ｘ軸ラベルを全部表示させるため角度調整
                            ticks: {
                                maxRotation: 90,
                                minRotation: 90,
                                // ラベル名が長くなる場合改行
                                callback: function(val){
                                    if(val.length > 5){
                                        return [val.substr(0, 5), val.substr(5)]
                                    }else{
                                        return val;
                                    }
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMax: 120,
                                suggestedMin: 0,
                                stepSize: 10,
                                callback: function(value, index, values){
                                    return  value +  '%'
                                }
                            }
                        }]
                    },
                    annotation: {
                        drawTime: 'afterDatasetsDraw',
                        annotations: [
                            {
                                id: 'hline',
                                type: 'line',
                                mode: 'horizontal',
                                scaleID: 'y-axis-0',
                                value: 100,
                                borderColor: 'black',
                                borderWidth: 2,
                                label: {
                                    backgroundColor: "red",
                                    content: "１日の摂取目安量",
                                    enabled: true
                                },
                            },
                        ]
                    },
                    maintainAspectRatio: false // 固定アスペクト比解除
                }
            });
        }
        
        var setAge = function(age) {
            window.age = age;
            // グラフ更新
            createGraph(window.selectFoodId, window.selectFoodName);
        }
        var toggleGender = function() {
            // 1か2をトグルで設定
            window.gender = window.gender % 2 + 1;
            console.log(window.gender);
            // グラフ更新
            createGraph(window.selectFoodId, window.selectFoodName);
            
        }
        document.addEventListener("click", (e) => {
            // ドロップダウンリストが生成されていない場合
            if(null == document.getElementById("foods")) {
                return;
            }
            // ドロップダウンリスト表示中にクリックした場合消す 判定は動的DOMのonclick側で
            document.getElementById("foods").remove();
        })
        
        function selectedFoodsButton() {
            createGraph(SELECTED_FOODS_ID, SELECTED_FOODS_NAME);
        }
    </script>
</body>
</html>